<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
	<link rel="stylesheet" href="~/css/credenciales.css" asp-append-version="true"/>
	<link rel="stylesheet" href="~/SilverStore.style.css/>
</head>

<body>
	<section class="container">
		<h1>Login</h1>
		<form method="post">
			<div>
				<label for="username">Username:</label>
				<input type="text" id="username" name="username" required />
			</div>
			<div>
				<label for="password">Password:</label>
				<input type="password" id="password" name="password" required />
			</div>
			<div>
				<button type="submit">Login</button>
			</div>
			<div class="error-message">
				<!-- Error messages will be displayed here -->
			</div>
		</form>

		<div class="links">
			<a href="/register">Register</a>
			<a href="/forgot-password">Forgot Password?</a>
		</div>

	</section>
</body>
</html>