<configuration>
	<connectionStrings>
		<add name="MiConexionSQL"
			 connectionString="Server=tcp:servidor-claudio.database.windows.net,1433;Initial Catalog=SilverStoreDB;Persist Security Info=False;User ID=Admin_Claudio;Password=Ex-430829;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
